.account {
  position: absolute;
  top: -120px;
  right: 12px;
  width: fit-content !important;
  display: flex;
  flex-direction: column;
  background-color: #ffdfbe;
  border-radius: 5px;
  padding: 10px 16px;
}
.account a {
  color: black;
  float: right;
}
.account a:hover {
  color: #333;
}
